---
layout: archive
permalink: /year-archive/
title: "Daily Journal"
author_profile: true
---

{% include base_path %}

{% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}

{% for year in posts_by_year %}
{% if year.name == "2025" or year.name == "2026" %}

## {{ year.name }}
{% if year.name == "2025" %}
**Annual Summary**
{% else %}
**Ongoing Records**
{% endif %}

{% assign posts_by_month = year.items | group_by_exp: "post", "post.date | date: '%Y-%m'" %}

{% for month in posts_by_month %}
### {{ month.name }}
{% endfor %}

{% endif %}
{% endfor %}
